<% if @schools.blank? %>
<h1>Your search yielded no results.</h1>
	<%= render "layouts/search" %>
<% else %>
<p>Your search returned the following items:</p>
	<div id="schools_result">
	<% @schools.each do |school| %>
	<ol>
	
	<li><%= link_to "#{school.name}", search_path("#{school.postcode}"), {style: "color: blue"} %></li>
		<li><%= school.address %></li>
		<li><%= school.school_group %></li>
	</ol>
	<% end %>
	</div>
<% end %>

