<div class="search_bar" >
    <%= form_tag("/search", :method => "get") do %>
    <%= label_tag(:search, "Enter Search Below") %>
    <%= text_field_tag(:search) %>
    <br />
    <br />
    <%= submit_tag("Search", class: "btn") %>
    <% end %>
    <br />
</div>